<% if !conflicts.empty? %>
    <h3><%= heading %></h3>
    <% conflicts.each do |conflict| %>
        <p>
            <%= render partial: 'conflict', locals: {conflict: conflict, show_branch_a_first: @user.id == conflict.branch_a.author.id} %>
        </p>
        <% conflict.conflicting_files_excluding(@hidden_file_list).each do |file| %>
            <p style="margin-left:20px;margin-top:0px;margin-bottom:0px">
                <a href="https://github.com/<%= @repository_name %>/blob/<%= conflict.branch_a.name %>/<%= file %>" style="text-decoration: none;"><%= file %></a>
            </p>
        <% end %>
        <% hidden_files = conflict.conflicting_files_including(@hidden_file_list) %>
        <% unless hidden_files.empty? %>
            <p style="margin-left:20px;margin-top:0px;margin-bottom:0px">
              and <%= hidden_files.size %> file(s) on ignore list
            </p>
        <% end %>
    <% end %>
<% end %>
