<% if resolved %>
    <%= render partial: 'shared/branch_link', locals: {repo_name: @repo_name, branch: branch_a} %>
    no longer conflicts with
    <%= render partial: 'shared/branch_link', locals: {repo_name: @repo_name, branch: branch_b} %>
<% else %>
    <%= render partial: 'shared/branch_link', locals: {repo_name: @repo_name, branch: branch_a} %>
    conflicts with
    <%= render partial: 'shared/branch_link', locals: {repo_name: @repo_name, branch: branch_b} %>
    <a href="https://github.com/<%= @repo_name %>/compare/<%= branch_a.name %>...<%= branch_b.name %>" style="text-decoration: none;">(diff)</a>
<% end %>
