<a href="https://www.github.com/<%= @repo_name %>/tree/<%= branch_a.name %>"><%= branch_a.name %></a>
conflicts with
<a href="https://www.github.com/<%= @repo_name %>/tree/<%= branch_b.name %>"><%= branch_b.name%></a>
