<%= form_for :suppression, url: suppressions_path do |f| %>

<div class="container">
  TODO: Show the tags on the commit, autobahn clean, build clean
  <%case @push.status%>
  <%when Github::Api::Status::STATE_PENDING.to_s%>
    <div class="alert alert-warning">
      Push is being processed, please refresh in a moment
    </div>
  <%when Github::Api::Status::STATE_SUCCESS.to_s%>
    <div class="alert alert-success">
      Push passed all checks
    </div>
  <%when Github::Api::Status::STATE_FAILED.to_s%>
    <div class="alert alert-danger">
      Warning: Branch is not ready to deploy.<br>
      <ul>
        <li>1 JIRA ticket is in the wrong state</li>
        <li>1 JIRA ticket is ready to deploy, but has no commits</li>
        <%if @push.has_orphan_commits%>
        <li><%=@push.orphan_commits.count%> Commit(s) has no JIRA ticket</li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <%if @push.has_jira_issues%>
    <h4><%=@push.jira_issues.count%> JIRA ticket(s) in this branch</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Ignore</th>
        <th>Key</th>
        <th>Last SHA</th>
        <th>Assignee</th>
        <th>Status</th>
        <th>Deploy Date</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <%@push.jira_issues.each do |jira_issue|%>
        <tr>
          <td><input type="checkbox"></td>
          <td><a href="#"><%=jira_issue.key%></a></td>
          <td><a href="#"><%=jira_issue.latest_commit.short_sha%></a></td>
          <td><%=jira_issue.assignee.name%></td>
          <td><%=jira_issue.status%></td>
          <td><%=jira_issue.targeted_deploy_date%></td>
          <td><%=jira_issue.summary%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%end%>

  <%if @push.has_orphan_commits%>
    <h4><%=@push.orphan_commits.count%> Commit(s) with no JIRA, or invalid, ticket number</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Ignore</th>
        <th>SHA</th>
        <th>Author Name</th>
        <th>Commit Message</th>
      </tr>
      </thead>
      <tbody>
      <%@push.orphan_commits.each do |commit|%>
        <tr class="danger">
          <td><input type="checkbox"></td>
          <td><a href="#"><%=commit.short_sha%></a></td>
          <td><%=commit.author.name%></td>
          <td><%=commit.message%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%end%>
  <%if false%>
    <h4>JIRA tickets ready to deploy, but not in this branch</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Ignore</th>
        <th>Key</th>
        <th>Last SHA</th>
        <th>Assignee</th>
        <th>Status</th>
        <th>Deploy Date</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="checkbox" checked></td>
        <td><a href="#">STORY-4533</a></td>
        <td><a href="#">aaf2ef4</a></td>
        <td>Yo Biziiac</td>
        <td>Ready to Deploy</td>
        <td>11/27/2016</td>
        <td>Description for ya</td>
      </tr>
      <tr class="danger">
        <td><input type="checkbox"></td>
        <td><a href="#">STORY-9999</a></td>
        <td><a href="#">bbf2ef4</a></td>
        <td>Dave Lamo</td>
        <td>Ready to Deploy</td>
        <td>11/30/2016</td>
        <td>The thingermahowzer</td>
      </tr>
      </tbody>
    </table>
  <%end%>
  Save Ignore and Update Status Button --
  Refresh JIRA Data Button
  Copy/Paste deploy list
</div>
<% end %>
